
img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
tr {
    vertical-align: middle;
}
tbody {
    border-top: 1px solid #c61d21;
    border-bottom: 1px solid #c61d21;
}
textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 120px;
    min-height: 120
}

img {
    width: 100%;
    max-height: 85px;
}